{embed='_includes/.header'}
	<div class="fourofour-slider">
    	<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'http://enashawcontract.co.uk/images/layout/generic-img.jpg'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / frame -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / fourofour-slider -->
    <div class="generic-content">
    	<div class="generic-intro">
			<div class="left">
            	<h1>404 error</h1>
            </div><!-- / left -->
            <div class="right">&nbsp;</div><!-- / right -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-intro -->
       	<div class="generic-info">
        	<div class="spacer">&nbsp;</div>
            <div class="content">
            	<h2>Page not found</h2>
                <p>The page you're looking for has either been moved, or can’t be found.</p>	
            </div><!-- / content -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-info -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / generic-content -->
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}