{embed='_includes/.header'}
	{exp:channel:entries channel="{freebie_1}" dynamic="no" disable="member_data" orderby="entry_date" sort="asc" limit="1"}
	<div class="case-slider">
    	<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'{case_img:lead}'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / case -->
        <div class="cleaner"></div><!-- / cleaner -->
        <div class="lead-title"><p>{title}</p></div><!-- / lead-title -->
    </div><!-- / home-slider -->
    {/exp:channel:entries}
    <div class="case-content">
    	{exp:channel:entries channel="case-studies" url_title="{freebie_1}" dynamic="no" disable="member_data"}
    	<div class="case-intro">
			<div class="left">
            	<h1>{case_header}</h1>
            </div><!-- / left -->
            <div class="right">
            	{case_intro}
            </div><!-- / right -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / case-intro -->
        <?php $page_title = '{title}'; ?>
        {/exp:channel:entries}
        <div class="case-studies">
            <div class="case-sidebar">
            	{embed='_includes/.case-menu' page_id='{freebie_1}' page_title='".$page_title."'}
                {embed='_includes/.case-cta' page_id='{freebie_1}'}
            </div><!-- / case-sidebar -->
            <?php $case_study = 0; ?>
            {exp:channel:entries channel="{freebie_1}" dynamic="no" disable="member_data" orderby="entry_date" sort="asc"}
            <?php if($case_study != 0){ ?>
            <div class="case-img">
                <div class="case-overlay">&nbsp;</div><!-- / case-overlay -->
                <img src="{case_img:cropped}" alt="{title}" />
            </div><!-- / case_img -->
            <?php } ?>
            <div id="{url_title}" class="case-study">
                <div class="spacer">&nbsp;</div><!-- / spacer -->
                <div class="content">
                    <div class="left">
                        <h2>{title}</h2>
                        {case_content}
                    </div><!-- / left -->
                    <div class="right">
                        {if case_feedback}<h3>Client feedback</h3>{/if}
                        {case_feedback}
                        <p class="hightlight">{case_author}</p>
                        <p class="hightlight">{case_title}</p>
                        <p class="hightlight">{case_company}</p>
                    </div><!-- / right -->
                    <div class="cleaner"></div><!-- / cleaner -->
                </div><!-- / content -->
                <div class="cleaner"></div><!-- / cleaner -->
            </div><!-- / case-study -->
            <?php $case_study++; ?>
            {/exp:channel:entries}
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / case-studies -->
    </div><!-- / case-content -->
    <div class="cleaner"></div><!-- / cleaner -->

{embed='_includes/.footer'}