{embed='_includes/.header'}
	{exp:channel:entries channel="contact-overview" dynamic="no" disable="member_data"}
	<div class="contact-slider">
    	<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'{contact_lead:cropped}'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / case -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / contact-slider -->
    <div class="contact-content">
    	<div class="contact-intro">
			<div class="left">
            	<h1>{title}</h1>
            </div><!-- / left -->
            <div class="right">
            	<div class="col-1">
                	{contact_introduction}
                </div><!-- / col-1 -->
                <div class="col-2">
                	<h3>Telephone</h3>
                    <p>{phone_number}</p>
                    <h3>Fax</h3>
                    <p>{fax_number}</p>
                    <h3>Email</h3>
                    <p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#114;&#97;&#99;&#116;&#64;&#101;&#110;&#97;&#115;&#104;&#97;&#119;&#46;&#99;&#111;&#46;&#117;&#107;">contract@enashaw.co.uk</a></p>
		    <h3>Linkedin</h3>
		    <p><a href="https://www.linkedin.com/company/ena-shaw-contract" target="_new">Ena Shaw Contract</a></p>	
                </div><!-- / col-2 -->
                <div class="col-3">
                	<h3>Address</h3>
                    <p>Ena Shaw Limited,<br />Eurolink,<br />Lea Green,<br />St Helens,<br />Merseyside,<br />WA9 4QF</p>
                </div><!-- / col-3 -->
            </div><!-- / right -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / contact-intro -->
        {/exp:channel:entries}
       	<div class="contact-info">
        	<div class="spacer">&nbsp;</div>
            <div class="content">

				{if freebie_1 == 'contact-us' AND freebie_2 != ''}
                	{exp:channel:entries channel="contact-entries" entry_id="{freebie_2}" dynamic="yes" parse="inward" limit="1"}
                        {exp:email_from_template to="contract@enashaw.co.uk" from="{contact_email_address}" subject="Contact Form Entry" mailtype="html" echo="off"}
                 		<table cellpadding="0" cellspacing="0" border="0" id="global_table" width="100%" style="background-color:#fff;width:100%;">
                            <tr>
                                <td>
                                <table cellpadding="0" cellspacing="0" border="0" width="595px" style="margin:0 auto;background-color:#2c2c2c;padding:20px;margin-top:20px;margin-bottom:20px;">
                                    <tr>
                                        <td>
                                            <img src="{site_url}/images/layout/logo.png" alt="{site_name}" title="{site_name}" />

                                            <h1 style="color:#fff; margin-top:20px">Contact Form Entry</h1>

                                            <table cellpadding="0" cellspacing="0" border="0" id="info_table">
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Title:</b></td><td style="color:#fff">{contact_title}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>First name:</b></td><td style="color:#fff">{contact_first_name}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Last name:</b></td><td style="color:#fff">{contact_last_name}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Email Address:</b></td><td style="color:#fff"><a href="mailto:{contact_email_address}" style="color:#cacf00">{contact_email_address}</a></td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Telephone:</b></td><td style="color:#fff">{contact_telephone_number}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Address:</b></td><td style="color:#fff">{contact_address}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>City:</b></td><td style="color:#fff">{contact_city}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Postcode:</b></td><td style="color:#fff">{contact_postcode}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Company:</b></td><td style="color:#fff">{contact_company}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Subject:</b></td><td style="color:#fff">{contact_subject}</td></tr>
                                                <tr><td style="width:200px;height:20px;padding:5px;color:#fff"><b>Enquiry:</b></td><td style="color:#fff">{contact_enquiry}</td></tr>
                                            </table><!-- info_table -->
                                        </td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                        </table>
                        {/exp:email_from_template}
                    <div class="contact-success">
                        <h3>Thank you for contacting Ena Shaw Contract.<br/>One of our team will be in touch<br/>with you shortly.</h3>
                    </div><!-- / contact-success-->
                    {/exp:channel:entries}
                {if:else}
                    {exp:channel:form channel="contact-entries" return="contact-us/ENTRY_ID" error_handling="inline" dynamic_title="[contact_first_name] [contact_last_name] - [contact_company]"}
                    <div class="contact-form">
                        <label for="contact_title">Title</label>
                        <select id="contact_title" name="contact_title">
                            <option>Mr</option>
                            <option>Mrs</option>
                            <option>Miss</option>
                            <option>Ms</option>
                            <option>Dr</option>
                        </select>
                        <label for="contact_first_name">First name<span class="error"> * {if error:contact_first_name}Required{/if}</span></label>
                        <input type="text" id="contact_first_name" name="contact_first_name"  value="{contact_first_name}"/>
                        <label for="contact_last_name">Last name<span class="error"> * {if error:contact_last_name}Required{/if}</span></label>
                        <input type="text" id="contact_last_name" name="contact_last_name" value="{contact_last_name}"/>
                        <label for="contact_email_address">Email address<span class="error"> * {if error:contact_email_address}Required{/if}</span></label>
                        <input type="text" id="contact_email_address" name="contact_email_address" value="{contact_email_address}"/>
                        <label for="contact_telephone_number">Telephone<span class="error"> * {if error:contact_telephone_number}Required{/if}</span></label>
                        <input type="text" id="contact_telephone_number" name="contact_telephone_number" value="{contact_telephone_number}"/>
                        <label for="contact_address">Address<span class="error"> * {if error:contact_address}Required{/if}</span></label>
                        <input type="text" id="contact_address" name="contact_address" value="{contact_address}"/>
                        <label for="contact_city">City<span class="error"> * {if error:contact_city}Required{/if}</span></label>
                        <input type="text" id="contact_city" name="contact_city" value="{contact_city}"/>
                        <label for="contact_postcode">Postcode<span class="error"> * {if error:contact_postcode}Required{/if}</span></label>
                        <input type="text" id="contact_postcode" name="contact_postcode" value="{contact_postcode}"/>
                        <label for="contact_company">Company<span class="error"> * {if error:contact_company}Required{/if}</span></label>
                        <input type="text" id="contact_company" name="contact_company" value="{contact_company}"/>
                        <label for="contact_subject">Subject<span class="error"> * {if error:contact_subject}Required{/if}</span></label>
                        <input type="text" id="contact_subject" name="contact_subject"value="{contact_subject}" />
                        <label for="contact_enquiry">Enquiry<span class="error"> * {if error:contact_enquiry}Required{/if}</span></label>
                        <textarea id="contact_enquiry" name="contact_enquiry" cols="6">{contact_enquiry}</textarea>
                        <input type="submit" id="contact_submit" name="contact_submit" value="Submit" />
                        <div class="cleaner"></div><!-- / cleaner -->
                    </div><!-- / contact-form -->
                    {/exp:channel:form}
                {/if}

                {exp:channel:entries channel="contact-overview" dynamic="no" disable="member_data"}
				<div class="contact-location">
                	<h2>Find us</h2>
                    <div id="esc-map" class="map"></div><!-- / map -->
                    <a href="https://goo.gl/maps/TB9UR" target="_blank" class="contact-map-cta">&#9654; View larger map</a>
                    <h2>Directions</h2>
                </div><!-- / contact-location -->
                <div class="contact-directions">
                	<div class="left">
                    	{contact_directions_1}
                    </div><!-- / left -->
                    <div class="right">
                    	{contact_directions_2}
                    </div><!-- / right -->
                    <div class="cleaner"></div><!-- / cleaner -->
                </div><!-- / contact-directions -->
                {/exp:channel:entries}

            </div><!-- / content -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / contact-info -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / contact-content -->
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}