{embed='_includes/.header'}
	{exp:channel:entries channel="generic" url_title="{freebie_1}" dynamic="no" disable="member_data"}
	<div class="generic-slider">
		<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'{generic_image:cropped}'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / case -->
        <div class="cleaner"></div><!-- / cleaner -->
        <div class="lead-title"><p>{title}</p></div><!-- / lead-title -->
    </div><!-- / generic-slider -->
    <div class="generic-content">
    	<div class="generic-intro">
			<div class="left">
            	<h1>{title}</h1>
            </div><!-- / left -->
            <div class="right">&nbsp;</div><!-- / right -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-intro -->
       	<div class="generic-info">
        	<div class="spacer">&nbsp;</div>
            <div class="content">
            	{generic_content}	
            </div><!-- / content -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-info -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / generic-content -->
    <div class="cleaner"></div><!-- / cleaner -->
    {/exp:channel:entries}
{embed='_includes/.footer'}