		<div class="right">
       		<?php $key_count = 1; ?>
        	{home_key}
            <?php if($key_count == 2 OR $key_count == 4){?>
            <ul class="key-slide">
            	<li>
                    <div class="col">
                        <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                        <div class="info">
                            <h3>{home_key_title}</h3>
                            {home_key_content}
                        </div><!-- / info -->
                    </div><!-- / col -->
                </li>
            <?php } else if($key_count == 3 OR $key_count == 5) { ?>
            	<li>
                    <div class="col">
                        <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                        <div class="info">
                            <h3>{home_key_title}</h3>
                            {home_key_content}
                        </div><!-- / info -->
                    </div><!-- / col -->
                </li>
            </ul>
            <?php } else { ?>
            	<div class="col">
                	<img src="{home_key_image:cropped}" alt="{home_key_title}" />
                    <div class="info">
                    	<h3>{home_key_title}</h3>
                        {home_key_content}
                    </div><!-- / info -->
				</div><!-- / col -->
            <?php
            	}
                $key_count++;
            ?>
            {/home_key}
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / right -->