{embed='_includes/.header'}
	{exp:channel:entries channel="homepage" dynamic="no" disable="member_data"}
	<div class="home-slider">
    	<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'{home_lead:cropped}'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / frame -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / home-slider -->
    <div class="home-content">
    	<div class="left">
        	<h2>Specialists in contract curtains, blinds and soft furnishings</h2>
            <div class="read-more">
            	{home_column_1}
            </div><!-- / read-more -->
            <a class="show-more">Read more &gt;</a>
            <div class="cta">{home_cta}</div><!-- / cta -->
        </div><!-- / left -->
        <div class="right">
       		<?php $key_count = 1; ?>
        	{home_key}
            <?php if($key_count == 1){?>
            <div class="col">
                <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                <div class="info">
                  	<h3>{home_key_title}</h3>
                    {home_key_content}
                </div><!-- / info -->
			</div><!-- / col -->
            <?php } else if($key_count == 2){?>
            <ul class="key-slide">
            	<li>
                    <div class="col">
                        <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                        <div class="info">
                            <h3>{home_key_title}</h3>
                            {home_key_content}
                        </div><!-- / info -->
                    </div><!-- / col -->
                </li>
            <?php } else if($key_count == 4) { ?>
            	<li>
                    <div class="col">
                        <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                        <div class="info">
                            <h3>{home_key_title}</h3>
                            {home_key_content}
                        </div><!-- / info -->
                    </div><!-- / col -->
                </li>
            </ul>
            <?php } else { ?>
            	<li>
                    <div class="col">
                        <img src="{home_key_image:cropped}" alt="{home_key_title}" />
                        <div class="info">
                            <h3>{home_key_title}</h3>
                            {home_key_content}
                        </div><!-- / info -->
                    </div><!-- / col -->
                </li>
            <?php } $key_count++; ?>
            {/home_key}
            <!--<div class="col"><img src="images/layout/homepage-animation.gif" alt="Animated gif"/></div><!-- / col -->
            <div class="cleaner"></div><!-- / cleaner -->
	<!--<p><a href="http://www.thesleepevent.com/" target="_blank"><img src="http://www.enashawcontract.co.uk/images/uploads/home-img/Sleep15-MPU-Final3-v1.gif" style="width:215px; height:auto; float: left;"></a>
	<a href="http://www.independenthotelshow.co.uk/welcome" target="_blank"><img src="http://www.enashawcontract.co.uk/images/uploads/home-img/IH-Web-Banner.png" style="width:215px; height:auto; float: right;"></a></p>-->
        </div><!-- / right -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / home-content -->
    <div class="more-content">
    	<a class="show-less">x</a>
    	<h2>Specialists in contract curtains, <br />blinds and soft furnishings</h2>
        <div class="left">
        	{home_column_1}
        </div><!-- / left -->
        <div class="mid">
        	{home_column_2}
        </div><!-- / mid -->
        <div class="right">
        	<div class="col-copy">{home_column_3}</div><!-- / col-copy -->
        	<div class="col-cta">{home_cta}</div><!-- / col-cta -->
        </div><!-- / right -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / more-content -->
    {/exp:channel:entries}
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}