{embed='_includes/.header'}
	{exp:channel:entries channel="manufacturing" url_title="{freebie_1}" dynamic="no" disable="member_data"}
    <div class="manu-slider">
    	<div class="frame">
            <div class="slide_element">
                <div class="slide" data-mightyslider="cover:'{manu_lead:cropped}'">&nbsp;</div><!-- / frame -->
            </div><!-- / slide_element -->
        </div><!-- / case -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div>
	<div class="manu-wrap">
        <div class="manu-content">
        	<div class="manu-intro">
                <div class="left">
                    <h1>{title}</h1>
                </div><!-- / left -->
                <div class="right">
                    {manu_intro}
                </div><!-- / right -->
                <div class="cleaner"></div><!-- / cleaner -->
            </div><!-- / manu-intro -->
            <div class="manu-bot">
                <div class="spacer">{manu_cta}</div><!-- / spacer -->
                <div class="content">
                    <div class="left">
    					{manu_content}	
                    </div><!-- / left -->
                    <div class="right">
                    	{if manu_sidebar_one}
    					<img src="{manu_sidebar_one:cropped}" alt="{title}" class="top" />
                        {/if}
                        {manu_sidebar_copy}
                        {if manu_sidebar_two}
                        <img src="{manu_sidebar_two:cropped}" alt="{title}" />
                        {/if}
                    </div><!-- / right -->
                    <div class="cleaner"></div><!-- / cleaner -->
                </div><!-- / content -->
                <div class="cleaner"></div><!-- / cleaner -->
            </div><!-- / manu-bot -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / manu-content -->
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / manu-wrap -->
    {/exp:channel:entries}
{embed='_includes/.footer'}