{embed='_includes/.header'}
	<div class="content-news">
    	<div class="news-bread">
            <div class="thumbs">
            	<ul>
                {exp:channel:entries channel="news" dynamic="no" limit="1" url_title="{freebie_2}"}
                  	<li class="active">{if news_image}<img src="{news_image:thumb}" alt="{title}" />{if:else}<img src="{site_url}/images/layout/thumb-nav-default.png" alt="{title}" />{/if}</li>
                {/exp:channel:entries}
                {exp:channel:entries channel="news" dynamic="no" limit="13" order_by="date" sort="desc"}
                  	{if '{url_title}' != '{freebie_2}'}
                  	<li>
                    	<a href="{page_url}" class="tip" original-title="{title}">{if news_image}<img src="{news_image:thumb}" alt="{title}" />{if:else}<img src="{site_url}/images/layout/thumb-nav-default.png" alt="{title}" />{/if}</a>
                    </li>
                    {/if}
                {/exp:channel:entries}
                </ul>
            </div><!-- / thumbs -->
        </div><!-- / news-bread -->
    	<div class="news-single">	
            {exp:channel:entries channel="news" dynamic="no" limit="1" url_title="{freebie_2}"}	
            {if news_image}
            <div class="news-image">
              
                
                <img src="{news_image:landscape}" alt="{title}" />
 
            </div><!-- / news-image --> 
            {/if}
            <div class="news-content">
            	<div class="news-title">
                	<div class="date">{entry_date format="%F %d%S %Y"}</div><!-- / date -->
                    <div class="title">{title}</div><!-- / title -->
                    <div class="cleaner"></div><!-- / cleaner -->
                </div><!-- / news-title -->
                <div class="left">&nbsp;</div><!-- / left -->
                <div class="right">
                	{news_content}
                </div><!-- / right -->
                <div class="cleaner"></div><!-- / cleaner -->
            </div><!-- / news-content -->
            
            <div class="news-sharing">
            	{embed="_includes/sharing"}
            </div><!-- / news-sharing -->
            {/exp:channel:entries} 
        </div><!-- / news-single -->
    </div><!-- / content-news -->
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}