{embed='_includes/.header'}
	<?php $news_count = 0; ?>
	<div class="content-news">
		<div class="news-wrap">
			<input type="hidden" id="current_limit" name="current_limit" value="9" />
            <input type="hidden" id="current_cat" name="current_cat" value="{if segment_3_category_id}{segment_3_category_id}{/if}" />
                    	
            	{exp:channel:entries channel="news" sort="desc" orderby="entry_date" limit="9" dynamic="no" parse="inward"}
					<div class="item">
                    	{if news_image}
                    	<a href="{page_url}"><img src="{news_image:cropped}" alt="{title}" /></a>
                        <div class="trans transparent"></div><!-- / trans -->
                        {/if}
                        <div class="article">
                        	<div class="title"><a href="{page_url}">{title}</a></div><!-- / title -->
                            {exp:trunchtml chars="160"}{news_content}{/exp:trunchtml}
                            <p class="timeago">{entry_date format="%F %d%S %Y"}</p>
						</div><!-- / article -->
						<div class="cleaner"></div><!-- / cleaner -->
					</div><!-- / item -->
                    <?php $news_count++; ?>
				{/exp:channel:entries}

			<div class="cleaner"></div><!-- / cleaner -->
		</div><!-- / news-wrap -->
        <div class="cleaner"></div><!-- / cleaner -->
        
        <?php if($news_count > 9){ ?>
        <div id="posts-ended">
			<p>You’ve reached the end of our news articles – more to follow soon.</p>
		</div><!-- / posts-ended -->
		<div id="posts-actions">
			<a id="more-posts">More posts</a>
			<a id="more-loading" >Loading...</a>
		</div><!-- / posts-loading -->
        <?php } ?>
                
	</div><!-- / content-news -->
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}