<?php $location_count = 0; ?>
{exp:channel:entries channel="case-studies" url_title="{freebie_1}" dynamic="no" disable="member_data"}
	{if case_additional != ''}
    	<h3>{case_menu_title}</h3>
        {case_additional}
            <p class="title" >{if case_drop == 'y'}<a class="location-drop" rel="<?php echo $location_count; ?>">{case_additional_title} &gt;</a>{if:else}{case_additional_title}{/if}</p>
            <div id="<?php echo $location_count; ?>" class="locations {if case_drop == 'y'}hide{/if}">
            <?php $location_count ++; ?>
            {case_additional_locations}
            </div><!-- / locations -->
        {/case_additional}
    {/if}
{/exp:channel:entries}