			</div><!-- / content-wrap -->

            <div id="footer-wrap">
            	<div class="footer">
                	<p>Ena Shaw Limited, Eurolink,<br />Lea Green, St Helens,<br />Merseyside, WA9 4QF</p>
                    <a href="http://www.enashaw.co.uk/" target="_blank" class="footer-ena">Ena Shaw</a>
                </div><!-- / footer -->
            </div><!-- / footer-wrap -->
            <div id="copy-wrap">
            	<div class="copy">
                	<p>&copy;<?php echo date('Y'); ?> Ena Shaw All rights reserved.</p>
                    <ul>

                        <li><a href="{site_url}cookie-policy" class="{if freebie_1 == 'cookie-policy'}active {/if}br">Cookie Policy</a></li>
                        <li><a href="{site_url}privacy-policy" class="{if freebie_1 == 'privacy-policy'}active {/if}br">Privacy Policy</a></li>
                    	<li><a href="{site_url}sitemap" {if freebie_1 == 'sitemap'}class="active"{/if}>Sitemap</a></li>

                    </ul>
                </div><!-- / copy -->
            </div><!-- / copy-wrap -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / global-wrap -->

         <script src="{path="_js/modernizr"}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{path="_js/jquery"}"><\/script>')</script>

        <script src="http://enashawcontract.co.uk/_js/main-min" type="text/javascript"></script>
		<script src="{path="_js/plugins"}" type="text/javascript"></script>

        {if freebie_1 == 'contact-us'}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
			$(document).ready(function(){
				var c = new google.maps.LatLng(53.41800629999999, -2.738459799999987);
				var a = {
					zoom: 16,
					center: c,
					mapTypeControl: true,
					mapTypeControlOptions: {
					  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
					},
					navigationControl: true,
					navigationControlOptions: {
						style: google.maps.NavigationControlStyle.SMALL
					},
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var d = new google.maps.Map(document.getElementById("esc-map"), a);
				var f = new google.maps.MarkerImage("http://enashawcontract.co.uk/images/layout/contact-map-pin.png", new google.maps.Size(100, 50), new google.maps.Point(0, 0), new google.maps.Point(50, 50));
				var h = new google.maps.MarkerImage("http://enashawcontract.co.uk/images/layout/contact-map-shadow.png", new google.maps.Size(130, 50), new google.maps.Point(0, 0), new google.maps.Point(65, 50));
				var g = new google.maps.LatLng(53.41800629999999, -2.738459799999987);
				var b = new google.maps.Marker({
					position: g,
					map: d,
					icon: f,
					shadow: h,
					title: "Ena Shaw Contract",
					zIndex: 3
				});
			});
		</script>
        {/if}

        <script type="text/javascript" src="//use.typekit.net/zrk4leq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69024726-1', 'auto');
  ga('send', 'pageview');

</script>

    <script type="text/javascript">
		$(document).ready(function(){
			// Fade in lead image title on case study page load.
			setTimeout(function(){
				$('.lead-title').animate({height:33}, 400);
			}, 800);
				
			// Check each case study to find out which side to apply the border to.	
			$('.case-study').each(function(){
				
				var left    = $(this).find('.content .left');
				var right   = $(this).find('.content .right');
				var lheight = left.height();
				var rheight = right.height();
				
				if(lheight > rheight){
					left.addClass('bleft');
				} else {
					right.addClass('bright');	
				}
					
			});
		});
	</script>

    </body>
</html>