/********************************************************************************************* 
***  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
*********************************************************************************************/
html,button,input,select,textarea{color:#222}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc; text-shadow:none}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}
img{vertical-align:middle}
fieldset{border:0; margin:0; padding:0}
textarea{resize:vertical}
input[type=submit],input[type=reset],input[type=button]{filter:chroma(color=#000)}
/********************************************************************************************** 
***  Presets
*********************************************************************************************/
*{margin:0; padding:0}
body{background-color:#3b3b3b; margin:0; padding:0;  color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight: normal}
h1,h2,h3,h4,h5,h6{}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
p{font-size:14px; line-height:19px; font-weight: normal; color:#fff; margin:0; padding:0}
b{}
a{text-decoration:none}
a:hover{text-decoration:underline}
ul{margin:0; padding:0}
ul li{}
ul li a{}
strong, bold{font-weight:bold}
.transparent{zoom:1; filter:alpha(opacity=80); opacity:0.8}
.cleaner{clear:both}
/********************************************************************************************** 
***  Structure
**********************************************************************************************/
#global-wrap{width:100%; height:100%; position:relative; float:left; z-index:1}
#cta-wrap{width:100%; height:44px; position:relative; float:left; z-index:1; background-color:#454140; display:none}
#header-wrap{width:100%; height:172px; position:absolute; top:0; left:0; z-index:2; background:url(/images/layout/header-bg.png) repeat-x}
#content-wrap{width:100%; height:100%; position:relative; z-index:1; margin-top:125px}
#footer-wrap, #copy-wrap{width:100%; height:100%; position:relative; float:left; z-index:1}
#footer-wrap{background-color:#343433; border-width:6px 0; border-style:solid; border-color:#313131}
#copy-wrap{}
#general-wrap{width:960px; height:125px; position:relative; left:50%; z-index:1; margin:0 0 0 -480px}
/********************************************************************************************** 
***  Submenu
**********************************************************************************************/
.cta-nav{width:960px; height:125px; position:relative; float:left; left:50%; z-index:1; margin:0 0 0 -480px; text-align:right}
.cta-nav p{width:800px; float:right; font-family: "adobe-caslon-pro",serif; font-size:20px; line-height:20px; font-weight:600; letter-spacing:1px; color:#fff; margin:16px 50px 0 0; display:none}
.cta-nav p a{color:#fff}
.cta-nav p a:hover{color:#cacf00}
.close-cta{position:absolute; top:10px; right:10px; text-decoration:none; cursor:pointer; color:#fff}
.close-cta:hover{color:#cacf00; text-decoration:none}
/********************************************************************************************** 
***  Header
**********************************************************************************************/
.header{width:960px; height:125px; position:relative; left:50%; z-index:2; margin:0 0 0 -480px}
.logo{width:240px; height:69px; position:relative; float:left; display:block; text-indent:-9999px; background:url(/images/layout/logo.png) 0 0 no-repeat; border:0; margin:30px 0 0 0}
.sub-nav{margin:0; padding:0; float:right; list-style:none}
.sub-nav li{float:right}
.sub-nav a{width:40px; height:40px; display:block; text-indent:-9999px; cursor:pointer; background-image:url(/images/layout/sub-nav-icons.png); background-repeat:no-repeat}
.sub-nav a.mail{background-position:0 0}
.sub-nav a.phone{background-position:-40px 0}
.sub-nav a.active, .sub-nav a:hover{background-color:#454140}
.strap{width:720px; float:right; font-family: "adobe-caslon-pro",serif; font-size:20px; line-height:20px; font-weight:600; letter-spacing:1px; color:#fff; text-align:right; margin:20px 0 0 0}
.linkedin{float:right;}
/********************************************************************************************** 
***  Nav
**********************************************************************************************/
.main-nav{width:930px; height:30px; position:relative; left:50%; z-index:2; margin:0 0 0 -480px; padding:0 15px}
.nav{margin:14px 0 0 0; padding:0; list-style:none}
.nav li{float:left}
.nav li a{font-size:14px; line-height:14px; font-weight:300; color:#cacf00; text-decoration:none; text-transform:uppercase; margin-right:12px; padding-right:12px}
.nav li a:hover, .nav li a.active{color:#fff; font-weight:300;}
.nav li a.br{border-right:1px solid #cacf00}
/********************************************************************************************** 
***  Homepage
**********************************************************************************************/
.home-slider{width:100%; height:425px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.home-slider .frame{width:100%; height:100%}
.home-slider .frame .slide_element{height:100%}
.home-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.home-slider .frame .mSCover img{max-width:none}
.home-content{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:30px 0 30px -480px}
.home-content .left{width:480px; height:auto; position:relative; float:left; z-index:1; margin-right:45px}
.home-content .left h2{font-size:25px; line-height:28px; font-weight:300; color:#cacf00; margin:0 0 30px 0; padding:0}
.home-content .left h3{font-size:18px; line-height:21px; font-weight:300; color:#cacf00; margin:0; padding:0}
.home-content .left .read-more{width:480px; height:245px; position:relative; float:left; z-index:1; overflow:hidden}
.home-content .left .read-more p{font-size:14px; line-height:19px; margin:0 0 25px 0; padding:0}
.home-content .left .show-more{position:relative; display:block; float:left; font-size:14px; line-height:19px; font-weight:300; color:#fff; cursor:pointer; margin-bottom:25px}
.home-content .left .cta{width:480px; height:auto; position:relative; float:left; z-index:1; font-size:19px; line-height:21px; font-weight:300; color:#cacf00; margin:10px 0 0 0}
.home-content .left .cta p{font-size:18px; line-height:21px; font-weight:300; color:#cacf00;}
.home-content .left .cta a{font-size:18px; line-height:21px; font-weight:300; color:#cacf00; text-decoration:none}
.home-content .left .cta a:hover{text-decoration:underline}
.home-content .right{width:435px; height:auto; position:relative; float:left; z-index:1}
.home-content .right .col{width:435px; height:145px; position:relative; float:left; z-index:1; background-color:#383736; margin:0 0 10px 0}
.home-content .right .col.last{margin:0}
.home-content .right .col img{float:left}
.home-content .right .col .info{width:220px; height:125px; position:relative; float:left; z-index:1; padding:10px 20px}
.home-content .right .col .info h3{font-size:18px; line-height:21px; font-weight:300; color:#cacf00; margin:0 0 10px 0; padding:0}
.home-content .right .col .info p{margin:0; padding:0}
.home-content .right .col .info ul{margin:0 0 10px 15px; padding:0}
.home-content .right .col .info li{font-size:14px; line-height:19px; color:#fff; padding:0 0 3px 0}
.home-content .right .col .info li a{color:#fff; font-weight:300}
.more-content{width:900px; height:425px; position:absolute; left:50%; top:445px; z-index:10; padding:20px 30px 40px 30px; overflow:hidden; display:none; background-color:#373737; margin:0 0 0 -480px}
.more-content h2{font-size:25px; line-height:28px; font-weight:300; color:#cacf00; margin:0 0 25px 0; padding:0}
.more-content .left{width:280px; height:auto; position:relative; float:left; z-index:10; margin:0 30px 0 0}
.more-content .mid{width:280px; height:auto; position:relative; float:left; z-index:10; margin:0 30px 0 0}
.more-content .right{width:280px; height:auto; position:relative; float:left; z-index:10}
.more-content .right ul{margin:0 0 25px 25px; padding:0}
.more-content .right ul li{}
.more-content .right ul li a{font-size:14px; line-height:19px; color:#fff; margin:0 0 0 10px}
.more-content .left p, .more-content .mid p, .more-content .right p{font-size:14px; line-height:19px; margin:0 0 25px 0; padding:0}
.more-content .left p a, .more-content .mid p a, .more-content .right p a{color:#cacf00; text-decoration:none}
.more-content .left p a:hover, .more-content .mid p a:hover, .more-content .right p a:hover{text-decoration:underline}
.more-content .right .col-copy, .more-content .right .col-cta{width:280px; height:auto; position:relative; float:left}
.more-content .right .col-copy p a{color:#fff; text-decoration:underline}
.more-content .right .col-cta p{width:270px; color:#cacf00}
.show-less{position:absolute; top:20px; right:20px; cursor:pointer; text-decoration:none}
.show-less:hover{color:#cacf00; text-decoration:none}
/********************************************************************************************** 
***  Manufacturing
**********************************************************************************************/
.manu-slider{width:100%; height:290px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.manu-slider .frame{width:100%; height:100%}
.manu-slider .frame .slide_element{height:100%}
.manu-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.manu-slider .frame .mSCover img{max-width:none}
.manu-wrap{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:0 0 30px -480px}
.manu-content{width:960px; height:auto; position:relative; float:left}
.manu-intro{width:960px; height:auto; position:relative; float:left; background-color:#121212}
.manu-intro .left{width:180px; height:auto; position:relative; float:left; padding:25px}
.manu-intro .left h1{font-size:23px; line-height:26px; font-weight:300; color:#fff; margin:0; padding:0}
.manu-intro .right{width:680px; height:auto; position:relative; float:left; padding:25px; background-color:#3b3b3b}
.manu-intro .right p{margin:0 0 15px 0; padding:0}
.manu-bot{width:960px; height:auto; position:relative; float:left; background-color:#666666}
.manu-bot .spacer{width:180px; height:auto; min-height:1px; position:relative; float:left; display:block; padding:25px}
.manu-bot .spacer p{color:#cacf00; margin:0 0 15px; padding:0}
.manu-bot .spacer p a{color:#cacf00; text-decoration:none}
.manu-bot .spacer p a:hover{text-decoration:underline}
.manu-bot .content{width:650px; height:auto; position:relative; float:left; padding:25px 40px; background-color:#fff}
.manu-bot .content .left{width:380px; height:auto; position:relative; float:left}
.manu-bot .content .left h2{font-size:22px; line-height:25px; font-weight:200; color:#3b3b3b; margin:0 0 25px 0}
.manu-bot .content .left p{color:#3b3b3b; margin:0 0 25px 0}
.manu-bot .content .right{width:220px; height:auto; position:relative; float:left; padding-left:20px; margin-left:20px; border-left:10px solid #e9e34c}
.manu-bot .content .right h3{font-size:22px; line-height:25px; font-weight:200; color:#3b3b3b; margin:0 0 25px 0}
.manu-bot .content .right img.top{margin:0 0 15px 0}
.manu-bot .content .right p{color:#3b3b3b; margin:0 0 15px 0; padding:0}
/********************************************************************************************** 
***  News feed
**********************************************************************************************/
.content-news{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:48px 0 0 -480px}
.news-wrap{width:960px; height:auto; position:relative; float:left; background-color: #4e4e4e; padding:30px 0 0 0; -webkit-box-shadow: -1px 4px 35px 8px #2b2b2b; -moz-box-shadow:-1px 4px 35px 8px #2b2b2b; box-shadow:-1px 4px 35px 8px #2b2b2b}
.item{background-color:#fff; display:block}
.item img{z-index:1}
.item img a{border:0}
.trans{width:280px; height:20px; position:absolute; margin-top:-20px; z-index:2; background-color:#fff}
.article{width:260px; height:auto; position:relative; float:left; display:block; padding:10px}
.article .title{width:100%; height:auto; position:relative; float:left; margin:0 0 10px 0; font-size:20px; line-height:23px; color:#534741}
.article .title a{color:#534741; text-decoration:none; font-size:20px}
.article .title a:hover{text-decoration:underline}
.article p{color:#3b3b3b; margin:0 0 15px 0; padding:0}
.article .timeago{border-top:1px solid #000; margin:0; padding:10px 0 0 0; font-size:11px; line-height:14px}
.article .timeago a{color:#d7b077}
#posts-actions{width:960px; height:auto; position:relative; float:left; padding:0; margin:0}
#more-posts{width:120px; height:auto; display:none; text-align:center; text-decoration:none; cursor:pointer; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; background:#cacf00; padding:10px 15px; margin:0 auto; color:#fff}
#more-posts:hover{background:#3b3b3b}
#more-loading{width:43px; height:11px; position:relative; display:none; text-indent:-9999px; margin:0 auto; padding:0 0 0 50px; background:url(/images/layout/posts-loading.gif) 0 0 no-repeat}
#posts-ended{width:960px; height:auto; position:relative; float:left; padding:0; margin:0; display:none}
#posts-ended p{color:#fff; text-align:center; margin:0; padding:0}
/********************************************************************************************** 
***  News single
**********************************************************************************************/
.news-single{width:900px; height:auto; position:relative; float:left; padding:0 30px}
.news-bread{width:900px; height:auto; position:relative; float:left; padding:0 30px 15px 30px}
.news-bread .title{width:auto; height:19px; position:relative; float:left; font-family: Swiss721BT-LightCondensed; font-weight:normal; font-size:26px; line-height:22px; color:#c7b299; text-transform:uppercase}
.news-bread .title a{height:19px; display:block; padding:0 0 0 30px; font-size:17px; line-height:17px; color:#c7b299; text-decoration:none; background:url(/images/layout/case-prev-bg.png) left top no-repeat}
.news-bread .title a:hover{color:#fff; background-position:left bottom}
.news-bread .thumbs{width:auto; height:auto; min-height:36px; position:relative; float:left; display:block}
.news-bread .thumbs ul{margin:0; padding:0; list-style:none}
.news-bread .thumbs ul li{float:left; margin:0 5px 0 0}
.news-bread .thumbs ul li.active{border:3px solid #cacf00}
.news-bread .thumbs ul li a{width:50px; height:50px; display:block; border:3px solid #fff}
.news-bread .thumbs ul li a:hover{border:3px solid #343434}
.news-image{width:880px; height:auto; position: relative; float:left; padding:10px; margin:0; text-align:center; background:#fff}
.news-content{width:900px; height:auto; position: relative; float:left; background-color:#666666}
.news-content .news-title{width:870px; height:50px; position:absolute; z-index:2; top:0; left:0; padding:30px 15px 0 15px; background:url(/images/layout/case-img-overlay.png) repeat}
.news-content .news-title .date{width:200px}
.news-content .news-title .title{width:595px; margin:0 0 0 55px}
.news-content .news-title .date, .news-content .news-title .title{height:auto; position:relative; float:left; font-size:19px; line-height:22px; font-weight:200; text-transform:none; color:#cacf00}
.news-content .left{width:180px; height:auto; position:relative; float:left; display:block; padding:25px}
.news-content .right{width:590px; height:auto; min-height:400px; position:relative; float:left; padding:105px 40px 25px 40px; background-color:#fff}
.news-content .right p{color:#3b3b3b; margin:0 0 15px 0}
.news-sharing{width:900px; height:auto; position:relative; float:left; margin:20px 0 50px 0; text-align:right}
/********************************************************************************************** 
***  Case studies
**********************************************************************************************/
.case-slider{width:100%; height:290px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.case-slider .lead-title{width:270px; height:0px; position:absolute; left:50%; bottom:0; z-index:9999; margin-left:200px;  background:url(/images/layout/slider-overlay.png) repeat}
.case-slider .lead-title p{font-family: "adobe-caslon-pro",serif; font-size:14px; line-height:20px; font-weight:600; letter-spacing:1px; color:#aeadad; text-align:right; margin:10px 10px 3px 10px; padding:0}
.case-slider .frame{width:100%; height:100%}
.case-slider .frame .slide_element{height:100%}
.case-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.case-slider .frame .mSCover img{max-width:none}
.case-content{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:0 0 30px -480px}
.case-intro{width:960px; height:auto; position:relative; float:left; background-color:#121212}
.case-intro .left{width:180px; height:auto; position:relative; float:left; padding:25px}
.case-intro .left h1{font-size:23px; line-height:26px; font-weight:300; color:#fff; margin:0; padding:0}
.case-intro .right{width:680px; height:auto; position:relative; float:left; padding:25px; background-color:#3b3b3b}
.case-intro .right p{margin:0 0 15px 0; padding:0}
.case-studies{width:960px; height:auto; position:relative; float:left; z-index:1}
.case-sidebar{width:180px; height:auto; position:absolute; top:25px; left:25px; z-index:2}
.case-sidebar h3{font-size:22px; line-height:25px; font-weight:300; color:#fff; margin:0 0 25px 0}
.case-sidebar h4{font-size:14px; line-height:17px; font-weight:300; color:#cacf00; margin:65px 0 15px 0; padding:0}
.case-sidebar h4 p{color:#cacf00}
.case-sidebar h4 p a{color:#cacf00; text-decoration:none}
.case-sidebar h4 p a:hover{text-decoration:underline}
.case-sidebar p.title{font-weight:300; margin:0 0 3px 0}
.case-sidebar p.title a{color:#cacf00; cursor:pointer; text-decoration:none}
.case-sidebar p.title a:hover{color:#cacf00}
.case-sidebar .locations{width:180px; height:auto; position:relative; float:left; margin:0 0 15px 0; overflow:hidden}
.case-sidebar .locations ul{margin:0; padding:0; list-style:none}
.case-sidebar .locations ul li{font-size:13px; line-height:16px; font-weight:300; color:#fff}
.case-sidebar .locations.hide ul{display:none}
.case-study{width:960px; height:auto; position:relative; float:left; background-color:#666666}
.case-study .spacer{width:180px; height:auto; min-height:1px; position:relative; float:left; display:block; padding:25px}
.case-study .content{width:650px; height:auto; position:relative; float:left; padding:25px 40px; background-color:#fff}
.case-study .content .left{width:384px; height:auto; position:relative; float:left; padding-right:20px}
.case-study .content .left h2{font-size:22px; line-height:25px; font-weight:300; color:#3b3b3b; margin:0 0 25px 0}
.case-study .content .left p{color:#3b3b3b; margin:0 0 25px 0}
.case-study .content .right{width:220px; height:auto; position:relative; float:left; padding-left:20px}
.case-study .content .right h3{font-size:22px; line-height:25px; font-weight:300; color:#3b3b3b; margin:0 0 25px 0}
.case-study .content .right p{color:#3b3b3b; margin:0 0 15px 0}
.case-study .content .right p.hightlight{font-weight:300; margin:0}
.case-study .content .bleft{border-right:6px solid #e9e34c}
.case-study .content .bright{border-left:6px solid #e9e34c}
.case-overlay{width:180px; height:200px; position:absolute; left:0; top:0; z-index:2; background:url(/images/layout/case-img-overlay.png) repeat; padding:25px; overflow:hidden}
.case-img{width:960px; height:250px; position:relative; float:left; z-index:1}
/********************************************************************************************** 
***  Generic
**********************************************************************************************/
.generic-slider{width:100%; height:290px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.generic-slider .frame{width:100%; height:100%}
.generic-slider .frame .slide_element{height:100%}
.generic-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.generic-slider .frame .mSCover img{max-width:none}
.generic-content{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:0 0 30px -480px}
.generic-intro{width:960px; height:auto; position:relative; float:left; background-color:#121212}
.generic-intro .left{width:180px; height:auto; position:relative; float:left; padding:25px}
.generic-intro .left h1{font-size:23px; line-height:26px; font-weight:300; color:#fff; margin:0; padding:0}
.generic-intro .right{width:680px; height:30px; position:relative; float:left; padding:25px; background-color:#3b3b3b}
.generic-info{width:960px; height:auto; position:relative; float:left; background-color:#666666}
.generic-info .spacer{width:180px; height:auto; min-height:1px; position:relative; float:left; display:block; padding:25px}
.generic-info .content{width:650px; height:auto; min-height:400px; position:relative; float:left; padding:25px 40px; background-color:#fff}
.generic-info .content h1{font-size:25px; line-height:28px; font-weight:200; color:#cacf00; margin:0 0 25px 0}
.generic-info .content h2{font-size:22px; line-height:25px; font-weight:200; color:#cacf00; margin:0 0 20px 0}
.generic-info .content h3{font-size:22px; line-height:25px; font-weight:200; color:#cacf00; margin:0 0 15px 0}
.generic-info .content p{color:#3b3b3b; margin:0 0 15px 0}
.generic-info .content ul{margin:0 0 15px 35px; padding:0}
.generic-info .content ul li{font-size:14px; line-height:19px; font-weight:300; color:#3b3b3b;}
.generic-info .content a{color:#cacf00; text-decoration:none}
.generic-info .content a:hover{text-decoration:underline}
/********************************************************************************************** 
***  Contact
**********************************************************************************************/
.contact-slider{width:100%; height:290px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.contact-slider .frame{width:100%; height:100%}
.contact-slider .frame .slide_element{height:100%}
.contact-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.contact-slider .frame .mSCover img{max-width:none}
.contact-content{width:960px; height:auto; position:relative; float:left; left:50%; z-index:1; margin:0 0 30px -480px}
.contact-intro{width:960px; height:auto; position:relative; float:left; background-color:#121212}
.contact-intro .left{width:180px; height:auto; position:relative; float:left; padding:25px}
.contact-intro .left h1{font-size:23px; line-height:26px; font-weight:300; color:#fff; margin:0; padding:0}
.contact-intro .right{width:680px; height:auto; position:relative; float:left; padding:25px; background-color:#3b3b3b}
.contact-intro .right .col-1{width:280px; height:auto; position:relative; float:left; z-index:1; margin:0 35px 0 0}
.contact-intro .right .col-2{width:170px; height:auto; position:relative; float:left; margin:0 25px 0 0}
.contact-intro .right .col-3{width:170px; height:auto; position:relative; float:left}
.contact-intro .right .col-2 h3, .contact-intro .right .col-3 h3{color:#cacf00; margin:0; padding:0}
.contact-intro .right .col-2 p, .contact-intro .right .col-3 p{margin:0 0 20px 0}
.contact-intro .right .col-2 p a, .contact-intro .right .col-3 p a{color:#fff; text-decoration:none}
.contact-intro .right .col-2 p a:hover, .contact-intro .right .col-3 p a:hover{text-decoration:underline}
.contact-info{width:960px; height:auto; position:relative; float:left; background-color:#666666}
.contact-info .spacer{width:180px; height:auto; min-height:1px; position:relative; float:left; display:block; padding:25px}
.contact-info .content{width:650px; height:auto; position:relative; float:left; padding:25px 40px; background-color:#fff}
.contact-success{width:450px; height:auto; position:relative; float:left; z-index:1; background-color:#cacf00; padding:60px 100px}
.contact-success h3{font-size:22px; line-height:28px; font-weight:200; color:#fff; text-align:center}
.contact-form{width:500px; height:auto; position:relative; float:left; z-index:1;}
.contact-form label{width:170px; display:block; float:left; font-size:14px; line-height:17px; font-weight:300; color:#3b3b3b; margin:0 0 5px 0}
.contact-form label span.error{display:inline-block; margin:0 0 0 5px; font-size:11px; line-height:11px; font-weight:300; color:#F00}
.contact-form select{width:330px; border:0; font-size:14px; line-height:17px; font-weight:200; color:#3b3b3b; background-color:#e2e0df; margin:0 0 10px 0}
.contact-form input[type=text]{width:320px; border:0; font-size:14px; line-height:17px; font-weight:200; color:#3b3b3b; background-color:#e2e0df; margin:0 0 10px 0; padding:5px}
.contact-form textarea{width:320px; height:130px; border:0; font-size:14px; line-height:17px; font-weight:200; color:#3b3b3b; background-color:#e2e0df; margin:0 0 10px 0; padding:5px}
.contact-form input[type=submit]{float:right; border:0; font-size:14px; line-height:17px; font-weight:200; color:#3b3b3b; background-color:#cacf00; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:5px 20px}
.contact-location{width:650px; height:auto; position:relative; float:left; z-index:1; margin:30px 0 0 0; padding:30px 0 0 0; border-top:6px solid #cacf00}
.contact-location h2{width:650px; position:relative; float:left; font-size:23px; line-height:26px; font-weight:300; color:#cacf00; margin:0; padding:0 0 15px 0}
.contact-location .map{width:650px; height:370px; position:relative; float:left; z-index:1}
.contact-location .contact-map-cta{position:relative; float:left; display:block; font-size:14px; line-height:17px; font-weight:300; color:#3b3b3b; text-decoration:none; margin:20px 0}
.contact-location .contact-map-cta:hover{text-decoration:underline}
.contact-directions{width:650px; height:auto; position:relative; float:left; z-index:1; margin:0 0 35px 0}
.contact-directions .left{margin:0 20px 0 0}
.contact-directions .left, .contact-directions .right{width:315px; height:auto; position:relative; float:left; z-index:1}
.contact-directions .left p, .contact-directions .right p{color:#3b3b3b; margin:0 0 15px 0}
/********************************************************************************************** 
***  Footer
**********************************************************************************************/
.footer{width:960px; height:100px; position:relative; float:left; left:50%; z-index:1; margin:0 0 0 -480px; background:url(/images/layout/footer-logos.png) right center no-repeat}
.footer p{width:auto; float:left; color:#fff; margin:20px 0 0 0}
.footer-ena{width:211px; height:43px; position:relative; float:left; display:block; text-indent:-9999px; border:0; background:url(/images/layout/enashaw-logo.png) center center; margin:24px 0 0 20px}
/********************************************************************************************** 
***  Copyright
**********************************************************************************************/
.copy{width:960px; height:50px; position:relative; float:left; left:50%; z-index:1; margin:0 0 0 -480px; padding:15px 0 0 0}
.copy p{width:480px; float:left; color:#fff}
.copy ul{width:480px; float:right; margin:0; padding:0; list-style:none}
.copy ul li{float:right}
.copy ul li a{font-size:14px; line-height:19px; color:#fff; text-decoration:none; padding:0 0 0 10px; margin:0 0 0 10px}
.copy ul li a:hover, .copy ul li a.active{color:#cacf00}
.copy ul li a.br{border-left:1px solid #fff}
/********************************************************************************************** 
***  404
**********************************************************************************************/
.fourofour-slider{width:100%; height:290px; position:relative; overflow:hidden; float:left; z-index:1; background:url(/images/layout/mighty-loader.gif) center 150px no-repeat}
.fourofour-slider .frame{width:100%; height:100%}
.fourofour-slider .frame .slide_element{height:100%}
.fourofour-slider .frame .slide_element > div{float:left; height:100%; overflow:hidden}
.fourofour-slider .frame .mSCover img{max-width:none}
/********************************************************************************************** 
***  Tipsy
*********************************************************************************************/
.tipsy{font-size:10px; position:absolute; padding:5px; z-index:100000}
.tipsy-inner{background-color:#000; color:#FFF; max-width:400px; padding:5px 8px 4px 8px; text-align:center}
.tipsy-inner{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px}
.tipsy-arrow{position:absolute; width:0; height:0; line-height:0; border:5px dashed #000} 
.tipsy-arrow-n{border-bottom-color:#000}
.tipsy-arrow-s{border-top-color:#000}
.tipsy-arrow-e{border-left-color:#000}
.tipsy-arrow-w{border-right-color:#000} 
.tipsy-n .tipsy-arrow{top:0px; left:50%; margin-left:-5px; border-bottom-style:solid; border-top:none; border-left-color:transparent; border-right-color:transparent}
.tipsy-nw .tipsy-arrow{top:0; left:10px; border-bottom-style:solid; border-top:none; border-left-color:transparent; border-right-color:transparent}
.tipsy-ne .tipsy-arrow{top:0; right:10px; border-bottom-style:solid; border-top:none;  border-left-color:transparent; border-right-color:transparent}
.tipsy-s .tipsy-arrow{bottom:0; left:50%; margin-left:-5px; border-top-style:solid; border-bottom:none;  border-left-color:transparent; border-right-color:transparent}
.tipsy-sw .tipsy-arrow{bottom:0; left:10px; border-top-style:solid; border-bottom:none;  border-left-color:transparent; border-right-color:transparent}
.tipsy-se .tipsy-arrow{bottom:0; right:10px; border-top-style:solid; border-bottom:none; border-left-color:transparent; border-right-color:transparent}
.tipsy-e .tipsy-arrow{right:0; top:50%; margin-top:-5px; border-left-style:solid; border-right:none; border-top-color:transparent; border-bottom-color:transparent}
.tipsy-w .tipsy-arrow{left:0; top:50%; margin-top:-5px; border-right-style:solid; border-left:none; border-top-color:transparent; border-bottom-color:transparent}
/********************************************************************************************** 
***  Presets
*********************************************************************************************/

/********************************************************************************************** 
***  Media queries
**********************************************************************************************/
@media (max-width: 979px) {
	.home-slider{height: 525px}
}

@media (max-width: 979px) {
	.home-slider{height: 325px}
}
			
@media (max-width: 768px) {
	.home-slider{height: 280px}
}