{embed='_includes/.header'}
	<div class="generic-slider">
    	<img src="{site_url}/images/layout/generic-img.jpg" alt="Generic image" />
    </div><!-- / generic-slider -->
    <div class="generic-content">
    	{exp:channel:entries channel="generic" url_title="{freebie_1}" dynamic="no" disable="member_data"}
    	<div class="generic-intro">
			<div class="left">
            	<h1>{title}</h1>
            </div><!-- / left -->
            <div class="right">&nbsp;</div><!-- / right -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-intro -->
       	<div class="generic-info">
        	<div class="spacer">&nbsp;</div>
            <div class="content">
            	{exp:structure:nav css_id="sitemap_ul" start_from="/" show_depth="999"}	
            </div><!-- / content -->
            <div class="cleaner"></div><!-- / cleaner -->
        </div><!-- / generic-info -->
        {/exp:channel:entries}
        <div class="cleaner"></div><!-- / cleaner -->
    </div><!-- / generic-content -->
    <div class="cleaner"></div><!-- / cleaner -->
{embed='_includes/.footer'}